<VirtualHost *:80>
	ServerAdmin {{ admin_email }}
    DocumentRoot /var/www/{{ site_name }}/{{ document_root }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
